parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_null\\(\\) with PhpAmqpLib\\\\Channel\\\\AMQPChannel will always evaluate to false\\.$#"
			count: 3
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Call to function is_null\\(\\) with PhpAmqpLib\\\\Connection\\\\AMQPStreamConnection will always evaluate to false\\.$#"
			count: 2
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Method QUI\\\\RabbitMQServer\\\\Server\\:\\:queueJob\\(\\) should return int but returns string\\|false\\.$#"
			count: 1
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(integer \\- \\$jobId\\)\\: Unexpected token \"\\-\", expected variable at offset 53$#"
			count: 1
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Parameter \\#1 \\$jobId of static method QUI\\\\RabbitMQServer\\\\Server\\:\\:setJobStatus\\(\\) expects int, string\\|false given\\.$#"
			count: 1
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Static property QUI\\\\RabbitMQServer\\\\Server\\:\\:\\$Channel \\(PhpAmqpLib\\\\Channel\\\\AMQPChannel\\) does not accept null\\.$#"
			count: 1
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Static property QUI\\\\RabbitMQServer\\\\Server\\:\\:\\$Connection \\(PhpAmqpLib\\\\Connection\\\\AMQPStreamConnection\\) does not accept null\\.$#"
			count: 1
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 5
			path: src/QUI/RabbitMQServer/Server.php

		-
			message: "#^Call to function is_null\\(\\) with PhpAmqpLib\\\\Channel\\\\AMQPChannel will always evaluate to false\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumer.php

		-
			message: "#^Call to function is_null\\(\\) with PhpAmqpLib\\\\Connection\\\\AbstractConnection will always evaluate to false\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumer.php

		-
			message: "#^Parameter \\#1 \\$prefetch_size of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:basic_qos\\(\\) expects int, null given\\.$#"
			count: 2
			path: src/RabbitConsumer/RabbitConsumer.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumer.php

		-
			message: "#^Variable \\$CurrentWorker in empty\\(\\) always exists and is not falsy\\.$#"
			count: 2
			path: src/RabbitConsumer/RabbitConsumer.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumerServer.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumerServer.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 3
			path: src/RabbitConsumer/RabbitConsumerServer.php

		-
			message: "#^Offset 'pid' on array\\{command\\: string, pid\\: int, running\\: bool, signaled\\: bool, stopped\\: bool, exitcode\\: int, termsig\\: int, stopsig\\: int\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumerServer.php

		-
			message: "#^Parameter \\#1 \\$process_id of function posix_kill expects int, string given\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumerServer.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumerServer.php

		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: src/RabbitConsumer/RabbitConsumerServer.php
